.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .title {
  text-transform: uppercase;
  color: var(--color-title);
  letter-spacing: 1rem;
  font-size: 2.5rem;
}

.theme-toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
}
.theme-toggle-img {
  height: 2rem;
  width: 2rem;
}
.theme-toggle-img:hover {
  opacity: 0.7;
}

.reset-btn {
  color: var(--color-title);
  font-size: 0.8rem;
  align-self: flex-end;
  padding: 0.5rem;
  opacity: 0.7;
}
.reset-btn:hover {
  opacity: 1;
}
