.todos-status-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 0.85rem;
  color: var(--color-text-muted);
}

.todos-status-block button:not(.selected):hover {
  color: var(--color-text);
}

.items-left {
  font-size: 0.8rem;
  font-weight: 500;
}
