.todo-item {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-text);
}

.todo-data {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.complete {
  opacity: 0.5;
  text-decoration: line-through;
}
